name: test-dbmill-cli

on:
  push:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: |
        go test ./internal/pkg/output
        go test ./internal/pkg/filter
        go test ./cmd/commands
        go test ./cmd/engine
        go test ./cmd/engine/sqlserver

