name: test-dbmill-cli

on:
  push:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test internal package output
      run: go test ./internal/pkg/output
    - name: Test internal package filter
      run: go test ./internal/pkg/filter
    - name: Test commands
      run: go test ./cmd/commands
    - name: Test engine
      run: go test ./cmd/engine
    - name: Test SQL Server engine
      run: go test ./cmd/engine/sqlserver
